@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root{
    --OutputColor: #640D14;
    --SecondaryButtonColor:#250902;
    --PrimaryButtonColor: #38040E;
    --TextColor: #ffffff;
    --HoverButtonColor: #800E13;
    --Memory: #AD2831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
    color: var(--TextColor);
}

body{
    height: 100vh;
}

main{
    height: 100%;
}

#screen{
    width: 100%;
    height: 25%;
    background-color: var(--OutputColor);
    border: none;
    outline: none;
    text-align: right;
    padding-right: 1em;
    font-size: xxx-large;
}

.first-layer{
    display: flex;
    height: 75%;
}

.second-layer{
    display: flex;
    width: 80%;
    height: 100%;
}

.memory{
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.numbers{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.operators{
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

input[type=button]{
    border: none;
    outline: none;
    font-size: x-large;
    background-color: var(--SecondaryButtonColor);
}

.memory input[type=button]{
    background-color: var(--PrimaryButtonColor);
}


input[type=button]:hover{
    cursor: pointer;
    background-color: var(--HoverButtonColor);
    transition: 0.3s ease;
}

@media (max-width: 500px) {
    .first-layer{
        flex-direction: column;
    }

    .memory{
        width: 100%;
        height: 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .special[type="button"]{
        background-color: var(--PrimaryButtonColor);
    }

    .second-layer{
        width: 100%;
    }
}